body {
}

.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {
    background-color: #04AA6D;
}

.success:hover {
    background-color: #46a049;
}

.info {
    background-color: #2196F3;
}

.info:hover {
    background: #0b7dda;
}

.warning {
    background-color: #ff9800;
}

.warning:hover {
    background: #e68a00;
}

.danger {
    background-color: #f44336;
}

.danger:hover {
    background: #da190b;
}

.default {
    background-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #ddd;
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #04AA6D; /* Add an active/current color */
}