@{
    ViewData["Title"] = "Truco!";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="login-container">
    <h1>Enter your name</h1>
    <form action="Auth" method="POST">

        <label for="username">Username:</label>
        <input type="text" id="name" name="name" required>

        <button type="submit">Login</button>
    </form>

</div>